#navbar { 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 101;
    text-align: center;
}
#navbar * {
    color: white;
}
#site {
    height: auto;
    padding: 30px;
}
#site-name {
    font-size: 3em;
    margin: 0 !important;
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
}
#nav-menu {
    padding: 0 1em;
    margin-top: 8px;
}
#nav-menu-list {
    display: flex;
    list-style: none;
    transition: 0.3s;
    padding: 0px;
    position: absolute;
    flex-direction: column;
    min-width: 40%;
    background-color: #000000;
    text-align: center;
    top: 25px;
    right: 0px;
    transform: translate(-3000px, 68px);
    width: 100%;
    color: ghostwhite;
    
}
.nav-item {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    font-size: 30px;  
    list-style: none;
}
#ham{
    position: relative;
    top: -25px;
    text-align: center;
}
.ham-img {
    width: 30px;
}
.open {
    transform: translate(0, 68px) !important;
}
.close {
    transform: translate(-3000px, 68px) !important;
}

@media screen and (min-width: 259px) {
    #navbar {
        border: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: unset;
    }
    #site {
        width: fit-content;
    }
    #ham {
        position: absolute;
        top: 43px;
        right: 30px;
        
    }
}
@media screen and (min-width: 576px) {
    .navbar {
        border: none;
    }
}

@media screen and (min-width: 768px) {
    #nav-menu-list {
        flex-direction: row;
        background-color: unset;
        text-align: center;
        position: relative;
        top: 5px !important;
        right: 10px !important;
        width: unset;
        border: unset;
        transform: translate(0px, 0px) !important;
    }
    #nav-item {
        border: none;
        padding: 0;
    }
    #ham {
        display: none;
    }

}

@media screen and (min-width: 992px) {
    #site-name {
        font-size: 3.5em;
    }
    .nav-item {
        font-size: 2em;
    }

@media screen and (min-width: 1130px) {
    
}

@media screen and (min-width: 1300px) {
   
}