body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.container {
    width: 100%;
    height: 75vh;
    padding: 0;
    margin: 0;

}
#store-main {
    position: relative;
    background-color: white;
    width: 85%;
    height: fit-content;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#content-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}
#content-body {
    margin-top: 20px;
}
#header-name {
    text-align: center;
}
#header-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.dropdown {
    background-color: white;
    border: 0.5px solid lightgray;
    border-style: solid;
    padding: 5px;
    box-sizing: border-box;
}
/* .select-noop {
    border-bottom: 1px dashed;
} */
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.row-list {
    flex-direction: row;
    
}
.row-box {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    padding: 15px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    min-width: -webkit-fill-available;
    max-width: 120px;
    margin: 3px;
    cursor: pointer;
}
.row-box-list {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    min-width: 100%;
    min-width: -webkit-fill-available !important;
    height: fit-content !important;
}
.row-box:hover {
    box-shadow: 0px 0px 10px 2px grey;
}
.bdark {
    color: white;
    background-color: #000000ad;
}
.box-main {
    z-index: 1;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-main-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.box-content-name {
    display: flex;
    align-items: center;
    flex: 1;
    word-break: break-all;
    width: 100%;
    font-size: 1.3em;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
}
.box-content-small {
    display: flex;
    align-items: flex-end;
    flex: 1;
}

.box-menu {
    position: absolute;
    top: 10px;
    right: 10px;
}
.box-menu-list {
    position: relative;
    margin: 0;
    top: 0px;
    padding: 0;
    padding-inline-start: 0px;
}
.box-menu-list li {
    padding: 10px 20px;
    padding-right: 20px;
    margin-top: 0;
    cursor: pointer;
}
.box-menu-list li:hover {
    background-color: lightgray;
}
.box-overlay {
    position: absolute;
    background-color: whitesmoke;
    color: black;
    top: 0px;
    right: 0px;
    width: fit-content;
}
.l1, .l2{
    display: none;
}
.l1 {
    z-index: 2;
}
.l2 {
    z-index: 3;
}
.l2 li {
    display: flex;
    flex-direction: column;
}
.box-overlay div {
    position: relative;
}
.li-linked {
    display: flex;
}
.img20 {
    width: 20px;
}
.styleless {
    list-style: none;
    box-sizing: border-box;
}
.padl20 {
    padding-left: 20px;
}
.padb5 {
    padding-bottom: 5px;
}
.floating-ball {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: aliceblue;
    box-shadow: 0 0 5px 2px lightgrey, 0 0 1px 1px lightgrey;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}
.floating-ball > span {
    font-size: 50px;
    color: gray;
}

/*
*
* Media-queries for responsiveness
*
*/
@media screen and (min-width: 372px) {
    #store-main {
        width: 317px;
    }
    .row {
        justify-content: unset;
    }
    .row-box {
        min-width: 120px;
    }
}

@media screen and (min-width: 560px) {
    #store-main {
        min-width: 475px;
    }
}
@media screen and (min-width: 745px) {
    #store-main {
        width: 633px;
    }
}
@media screen and (min-width: 930px) {
    #store-main {
        width: 790px;
    }
}
@media screen and (min-width: 1117px) {
    #store-main {
        width: 949px;
    }
    .row-box {
        min-width: 150px;
        height: 150px;
    }
}
@media screen and (min-width: 1303px) {
    #store-main {
        width: 1128px;
    }
}
@media screen and (min-width: 1550px) {
    #store-main {
        width: 1318px;
    }
}
@media screen and (min-width: 1770px) {
    #store-main {
        width: 1505px;
    }
}
@media screen and (min-width: 1920px) {
    #store-main {
        width: 1692px;
    }
}