/* Upload */
:root {
    --upload-bg: white;
}
body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}
#navbar {
    background-color: black;
    color: white;
}
#site {
    height: auto;
    padding: 30px;
}
#site-name {
    font-size: 3em;
    margin: 0 !important;
    
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
}
#upload-root {
    position: relative;
    width: 800px;
    background-color: var(--upload-bg);
    
    /* justify-content: center; */
    margin: 50px auto;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 10px #00000021;
}

#upload-title {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}
#tag-container {
    margin-top: 20px;
    z-index: 1;
}
#tags {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 75%;
    background-color: var(--upload-bg);
    margin-bottom: 20px;
    height: 30px;
    padding: 0 5px;
}
#tags:focus {
    outline: none;
}
#upload-stage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
    max-height: 300px;
    overflow-y: scroll;
}
.image-box {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: ghostwhite;
}
.image-box img {
    position: relative;
    width: 100%;
    height: 100%;
}
#upload-inp {
    position: absolute;
    opacity: 0;
}
#add-image {
    width: 100%;
    height: 100%;
    border-style: none;
    font-size: 3em;
    color: rgb(0, 0, 0, 0.71)
}
#add-image:hover {
    background-color: #00000047;
}
.delete {
    width: 30px;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 2;
}
#add-image:focus {
    outline:0 !important;
}
#upload-info {
    border-top: 1px solid lightgray;
    width: fit-content;
    padding-top: 0px;
    padding-bottom: 0;
}
#total_upload {
    /* display: flex;
    flex-direction: column; */
}
#upload-controls-container {
    border-top: 1px solid lightgray;
    text-align: right;
    padding-top: 20px;
    margin-bottom: 20px;
}
.upload-control {
    border: none;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
}
#upload-do {
    background-color: lightskyblue;
}
#upload-cancel:hover {
    background-color: #00000047;
}
#upload-do:hover {
    background-color: #57b0e6;
    color: white;
}
#butter-paper {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.8;
    z-index: 10;
}
.show {
    display: flex !important;
}